my_ip_address         = ""
vpc_id                = "vpc-xxxxx"
subnet_id             = "subnet-xxxxx"
aws_account_id        = ""
my_aws_access_key     = ""
my_aws_secret_key     = ""
github_user           = ""
github_token          = "ghp_xxxxx"
github_webhook_secret = ""
github_allow_list     = ""
infracost_api_key     = ""
domain_zone_id        = ""
domain_name           = "atlantis.yourdomain.com"
